.hsaffstml {
	background-image:url("background.png");
	   background-repeat: no-repeat;
    background-size: 100% 510px;
    background-color:#000000;   
}
.divBack {
    background-image:url("background.png");
    background-repeat: no-repeat;
    background-size: 100% 1536px;
    background-color:#000000;   
    height: 1538px;
    width: 2048px;
    z-index: 1;
}
.halfway-down {
	
}
.img{
    height: 1538px;
    width: 2048px;
    position:absolute;
}
.btn{

            background-color: black;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            position: absolute;
            

        }
.coffee-btn{
    height:5em;
    width:5em;
    left:860px;
    top:1198px;
}
.z1{
    position: relative;
    z-index: 1;
}
.z2{
    position: relative;
    z-index: 2;
}
.z3{
    position: relative;
    z-index: 3;
}
.z4{
    position: relative;
    z-index: 4;
}
.z5{
    position: relative;
    z-index: 5;
}

.frayed-btn{
    height:3em;
    width:3em;
    left:1525px;
    top:760px;
}
.lighter-btn{
    height:2.2em;
    width:4.4em;
    left:620px;
    top:1290px;
}
.space-btn{
    height:10em;
    width:11em;
    left:1570px;
    top:1200px;
}