div {
  position: fixed;
  height: 100%;
  width: 100%;
}

#aerosol {
  position: fixed;
  width: 4%
}

#beachTowel {
  position: fixed;
  width: 16%
}

#np1, #np2 {
  position: fixed;
  width: 3%
}

#sillyString {
  position: fixed;
  width: 11%
}

#flame {
  position: absolute;
  top: 48%;
  left: 46%;
  height: 34%;
  width: 10%;
}

#one {
  background-color: blue;
  top: 50%
}

#two {
  background-color: red;
  left: 50%;
}

#three {
  background-color: green;

}
