.container-fluid {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.background-img {
    height: 100%;
    width: 100%;
}

.helper {
  position: fixed;
	opacity: 0;
  border: 5px solid yellow;
}

#bbqLighterSpot {
  width: 13%;
  height: 12%;
  top: 55%;
  left: 77%;
}

#garageBabySpot {
  width: 12%;
  height: 33%;
  top: 45%;
  left: 52%;
}

#gasCanSpot {
  width: 9%;
  height: 17%;
  top: 69%;
  left: 69%;
}

#extCordSpot {
  width: 12%;
  height: 33%;
  top: 45%;
  left: 52%;
}

#fertilizerSpot {
  width: 12%;
  height: 33%;
  top: 45%;
  left: 52%;
}

#bbqLighter {
	position:fixed;
	left:85%;
	top:94%;
	width:5%;
	height:5%;
}

#garageBaby {
	position: fixed;
	left:28%;
	top:86%;
	width:8%;
	height:15%;
}

#milkJug {
	position:fixed;
	left:75%;
	top:89%;
	width:3.4%;
	height:10%;
}

#fertilizer {
	position:fixed;
	left:16%;
	top:85%;
	width:9%;
	height:7.5%;
}

#gasCan {
	position:fixed;
	left:82%;
	top:42%;
	width:3.2%;
	height:9%;
}

#extCord {
	position:fixed;
	left:23.4%;
	top:74.2%;
	width:4%;
	height:10%;
}

#motorcycle {
	position:fixed;
	left:57%;
	top:74%;
	width:13%;
	height:25%;
}

#bbqLighterFirm {
	position: fixed;
	display: none;
  left: 81%;
  top: 62%;
	width:5%;
	height:5%;
}

#gasCanFirm {
	position: fixed;
	display: none;
  left: 69.7%;
  top: 72.8%;
  width:3.2%;
	height:9%;
}

#levelWin {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#back {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 5%;
	height: 11%;
}
#garageTimer {
	position:fixed;
	background-color: transparent;
	width: 15%;
	height: 9%;
	left: 37%;
	top: 43%;
	font-size: 2.5vw;
	color: rgb(12,185,61);
	text-align: center;
}
#garageCounter {
	position: fixed;
	background-color: transparent;
	width: 10%;
	height: 5%;
	left: 40%;
	top: 37%;
	font-size: 2.5vw;
	color: rgb(12,185,61);
	text-align: center;
}