h1 {
	color: white;
	font-size: 3vmin;
}

.container-fluid {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.middle-of-page {
	position: fixed;
	left:45%;
	top:50%;
}
.background-img {
    height: 100%;
    width: 100%;
}
#burner {
	position: fixed;
	height:2%;
	width:5%;
	top:59%;
	left:34%;
}
#timer {
	position:fixed;
	background-color: transparent;
	width: 15%;
	height: 9%;
	left: 51%;
	top: 26%;
	font-size: 3.5vw;
	color: rgb(12,185,61);
	text-align: center;
}
#kitchenCounter {
	position: fixed;
	background-color: transparent;
	width: 10%;
	height: 5%;
	left: 85%;
	top: 40%;
	font-size: 3vw;
	color: rgb(12,185,61);
	text-align: center;
}
#kitchenTimer {
	position: fixed;
	background-color: transparent;
	width: 10%;
	height: 9%;
	left: 86%;
	top: 47%;
	font-size: 3vw;
	color: rgb(12,185,61);
	text-align: center;
}
#counter {
	position: fixed;
	background-color: transparent;
	width: 15%;
	height: 9%;
	left: 51%;
	top: 17%;
	font-size: 3.5vw;
	color: rgb(12,185,61);
	text-align: center;
}

#ashTray {
	position: fixed;
	left: 10%;
	top: 58%;
	height: 10%;
	width: 5%;
}
#kitchenAshTray {
	position: fixed;
	left: 14%;
	top: 54%;
	height: 8%;
	width: 4%;
}

#brokenSD {
	position: fixed;
	top: 3%;
	left: 80%;
	width: 8%;
	height: 13%;
}

#candle {
	position: fixed;
	top: 48%;
	left: 16%;
	width: 4%;
	height: 18%;
}

#coffee {
	position: fixed;
	left: 40%;
	top: 73%;
	height: 12%;
	width: 6%;
}
#kitchenCoffee {
	position: fixed;
	left: 20%;
	top: 53.2%;
	height: 10%;
	width: 5%;
}
#crockpot {
	position: fixed;
	left: 7%;
	top: 51%;
	height: 10%;
	width: 10%;
}
#crockpotCord {
	position: fixed;
	left: 1.6%;
	top: 58%;
	height: 6%;
	width: 7%;
}
#fray {
	position: fixed;
	left: 71%;
	top: 48%;
	width: 5%;
	height: 5%;
}

#lighter {
	position: fixed;
	left: 30%;
	top: 83%;
	width: 7%;
	height: 8%;
}

#kitchenLighter {
	position: fixed;
	left: 25%;
	top: 92%;
	width: 7%;
	height: 8%;
}

#matches {
	position: fixed;
	left: 49%;
	top: 77%;
	width: 7%;
	height: 9%;
}

#outletCover {
	position: fixed;
	left: 4.20%;
	top: 66.7%;
	width: 2%;
	height: 5.2%;
	opacity: 0;
}

#powerStrip {
	position: fixed;
	left: 86%;
	top: 79.5%;
	width: 6%;
	height: 8%;
}

#spaceHeater {
	position: fixed;
	left: 69%;
	top: 74%;
	width: 15%;
	height: 19%;
}

#workingSD {
	position: fixed;
	top: 3%;
	left: 80%;
	width: 8%;
	height: 13%;
	visibility: hidden;
}

#threeStars {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#twoStars {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#oneStar {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#noStars {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#ramen {
	position: fixed;
	left: 43%;
	top: 21.4%;
	width: 4%;
	height: 12%;
}

#potOfWater {
	position:fixed;
	left:40.5%;
	top:49.8%;
	width:4.5%;
	height:13%;
}
#fork {
	position:fixed;
	left:40.5%;
	top:31.3%;
	width:8%;
	height:3%;
}
#toddler {
	position: fixed;
	left:14%;
	top:62%;
	width:12.5%;
	height:38%;
}
#baby {
	position: fixed;
	left:38%;
	top:79%;
	width:8%;
	height:21%;
}

#formula {
	position: fixed;
	left:51%;
	top:47%;
	width:3%;
	height:14%;
}
#adultCooking{
	position: fixed;
	left:54%;
	top: 29%;
	width: 22%;
	height: 70%;
}
#heater{
	position:fixed;
	left:26%;
	top:47.8%;
	width:10%;
	height:33%;
}
#smallBurner{
	position:fixed;
	left:34.24%;
	top:59.4%;
	width:4.3%;
	height:1.5%;
}

#ovenMitt{
	position: fixed;
	left: 65.7%;
	top: 57.8%;
	width: 4%;
	height: 7.3%;
	opacity: 0;
}

#ramenBox {
	position:fixed;
	left:41.5%;
	top:13.8%;
	width:7%;
	height:5%;
}

#bbqLighter {
	position:fixed;
	left:85%;
	top:94%;
	width:5%;
	height:5%;
}

#garageBaby {
	position: fixed;
	left:28%;
	top:86%;
	width:8%;
	height:15%;
}
#garageTimer {
	position:fixed;
	background-color: transparent;
	width: 15%;
	height: 9%;
	left: 37%;
	top: 43%;
	font-size: 2.5vw;
	color: rgb(12,185,61);
	text-align: center;
}
#garageCounter {
	position: fixed;
	background-color: transparent;
	width: 10%;
	height: 5%;
	left: 40%;
	top: 37%;
	font-size: 2.5vw;
	color: rgb(12,185,61);
	text-align: center;
}
#milkJug {
	position:fixed;
	left:75%;
	top:89%;
	width:3.4%;
	height:10%;
}
#boxes {
	position:fixed;
	left:61%;
	top:58.5%;
	width:16%;
	height:25%;
}
#fertilizer {
	position:fixed;
	left:16%;
	top:85%;
	width:9%;
	height:7.5%;
}
#gasCan {
	position:fixed;
	left:82%;
	top:42%;
	width:3.2%;
	height:9%;
}
#hotExhaust {
	position:fixed;
	left:39.2%;
	top:88.4%;
	width:3.5%;
	height:3%;
}
#mcExhaust {
	position:fixed;
	left:64.7%;
	top:84.2%;
	width:3.5%;
	height:9%;
}
#extCord {
	position:fixed;
	left:23.4%;
	top:74.2%;
	width:4%;
	height:10%;
}
#motorcycle {
	position:fixed;
	left:57%;
	top:74%;
	width:13%;
	height:25%;
}

#kitchenlevelbutton {
	position: fixed;
	top:72%;
	left: 44%;
	height:5%;
	width:15%;
	opacity:1;
	background-color: #7BAFD4;
	border: 2px, solid;
	border-radius: 15px;
	color: white;
    text-transform: uppercase;
    color: white;
}

#kitchenlevelbutton:hover {
	color: #000080;
}

#kitchendraglevelbutton {
	position: fixed;
	top:77%;
	left: 44%;
	height:5%;
	width:15%;
	opacity:1;
	background-color: #7BAFD4;
	border: 2px, solid;
	border-radius: 15px;
	text-transform: uppercase;
	color: white;
	font-size: 75%;
}

#kitchendraglevelbutton:hover {
	color: #000080;
}

#garagelevelbutton {
	position: fixed;
	top: 32%;
	left: 74%;
	height:5%;
	width:15%;
	opacity:1;
	background-color: #7BAFD4;
	border: 2px, solid;
	border-radius: 15px;
	text-transform: uppercase;
	color: white;
}

#garagelevelbutton:hover {
	color: #000080;
}

#livingroomlevelbutton {
	position: fixed;
	top:31%;
	left: 44%;
	height:5%;
	width:15%;
	opacity:1;
	background-color: #7BAFD4;
	border: 2px, solid;
	border-radius: 15px;
	text-transform: uppercase;
	color: white;
}

#livingroomlevelbutton:hover {
	color: #000080;
}

#livingroomdraglevelbutton {
	position: fixed;
	top:36%;
	left: 44%;
	height:5%;
	width:15%;
	opacity:1;
	background-color: #7BAFD4;
	border: 2px, solid;
	border-radius: 15px;
	text-transform: uppercase;
	color: white;
	font-size: 75%;
}

#livingroomdraglevelbutton:hover {
	color: #000080;
}

#garagedraglevelbutton {
	position: fixed;
	top: 37%;
	left: 74%;
	height:5%;
	width:15%;
	opacity:1;
	background-color: #7BAFD4;
	border: 2px, solid;
	border-radius: 15px;
	text-transform: uppercase;
	color: white;
	font-size: 75%;
}

#garagedraglevelbutton:hover {
	color: #000080;
}

#back{
	position: fixed;
	left:0%;
	top: 0%;
	width: 6%;
	height: 12%;
}
