.container-fluid {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.background-img {
    height: 100%;
    width: 100%;
}

.helper {
  position: fixed;
	opacity: 0;
  border: 5px solid yellow;
}

#ovenMittSpot {
  width: 5%;
  height: 9%;
  top: 57%;
  left: 66%;
}

#ramenSpot {
  width: 9%;
  height: 11%;
  top: 52%;
  left: 45%;
}

#potOfWaterSpot {
  width: 7%;
  height: 9%;
  top: 51%;
  left: 33%;
}

#forkSpot {
  width: 24%;
  height: 25%;
  top: 66%;
  left: 7%;
}

#formulaSpot {
  width: 24%;
  height: 25%;
  top: 12%;
  left: 10%;
}

#ramenBoxSpot {
  width: 24%;
  height: 25%;
  top: 12%;
  left: 10%;
}

#kitchenCoffeeSpot {
  width: 9%;
  height: 11%;
  top: 48%;
  left: 15%;
}

#kitchenLighterSpot {
  width: 24%;
  height: 25%;
  top: 66%;
  left: 7%;
}

#ramen {
	position: fixed;
	left: 25%;
	top: 46%;
	width: 5%;
	height: 15%;
}

#potOfWater {
	position:fixed;
	left:40.5%;
	top:49.8%;
	width:4.5%;
	height:13%;
}

#fork {
	position:fixed;
	left:40.5%;
	top:31.3%;
	width:8%;
	height:3%;
}

#formula {
	position: fixed;
	left:49%;
	top:84%;
	width:3%;
	height:14%;
}

#adultCooking{
	position: fixed;
	left:54%;
	top: 29%;
	width: 22%;
	height: 70%;
}

#ovenMitt{
	position: fixed;
  left: 48.7%;
  top: 53.8%;
	width: 4%;
	height: 7.3%;
}

#ramenBox {
	position:fixed;
	left:41.5%;
	top:13.8%;
	width:7%;
	height:5%;
}

#kitchenCoffee {
	position: fixed;
	left: 7%;
	top: 52%;
	height: 10%;
	width: 5%;
}

#kitchenLighter {
	position: fixed;
	left: 25%;
	top: 92%;
	width: 7%;
	height: 8%;
}

#ovenMittFirm {
	position: fixed;
	display: none;
  left: 65.7%;
	top: 57.8%;
	width: 4%;
	height: 7.3%;
}

#ramenFirm {
	position: fixed;
	display: none;
  left: 46.7%;
  top: 44.8%;
  width: 5%;
  height: 15%;
}

#potOfWaterFirm {
	position: fixed;
	display: none;
  left: 34.7%;
  top: 46.8%;
  width: 4.5%;
  height: 13%;
}

#kitchenCoffeeFirm {
	position: fixed;
	display: none;
  left: 18%;
  top: 50%;
	height: 10%;
	width: 5%;
}

#levelWin {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#back {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 5%;
	height: 11%;
}
#kitchenCounter {
	position: fixed;
	background-color: transparent;
	width: 10%;
	height: 5%;
	left: 85%;
	top: 40%;
	font-size: 3vw;
	color: rgb(12,185,61);
	text-align: center;
}
#kitchenTimer {
	position: fixed;
	background-color: transparent;
	width: 10%;
	height: 9%;
	left: 86%;
	top: 47%;
	font-size: 3vw;
	color: rgb(12,185,61);
	text-align: center;
}
#threeStars {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#twoStars {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#oneStar {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
#noStars {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}