.container-fluid {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.background-img {
    height: 100%;
    width: 100%;
}

.helper {
  position: fixed;
	opacity: 0;
  border: 5px solid yellow;
}

#matchesSpot {
	width: 10%;
	height: 9%;
	top: 62%;
	left: 83%;
}

#workingSDSpot {
	width: 10%;
	height: 16%;
	top: 2%;
	left: 79%;
}

#lighterSpot {
	width: 10%;
	height: 8%;
	top: 68%;
	left: 83%;
}

#outletCoverSpot {
	width: 4%;
	height: 11%;
	top: 64%;
	left: 3%;
}

#ashTray {
	position: fixed;
	left: 10%;
	top: 58%;
	height: 10%;
	width: 5%;
}

#brokenSD {
	position: fixed;
	top: 3%;
	left: 80%;
	width: 8%;
	height: 13%;
}

#candle {
	position: fixed;
	top: 48%;
	left: 16%;
	width: 4%;
	height: 18%;
}

#coffee {
	position: fixed;
	left: 40%;
	top: 73%;
	height: 12%;
	width: 6%;
}

#fray {
	position: fixed;
	left: 71%;
	top: 48%;
	width: 5%;
	height: 5%;
}

#lighter {
	position: fixed;
	left: 30%;
	top: 83%;
	width: 7%;
	height: 8%;
}

#matches {
	position: fixed;
	left: 49%;
	top: 77%;
	width: 7%;
	height: 9%;
}

#outletCover {
	position: fixed;
	left: 5.2%;
	top: 86.7%;
	width: 2%;
	height: 5.2%;
	opacity: 1;
}

#outletCoverFirm {
	position: fixed;
	display: none;
	left: 4.20%;
	top: 66.7%;
	width: 2%;
	height: 5.2%;
}

#powerStrip {
	position: fixed;
	left: 86%;
	top: 79.5%;
	width: 6%;
	height: 8%;
}

#spaceHeater {
	position: fixed;
	left: 69%;
	top: 74%;
	width: 15%;
	height: 19%;
}

#workingSD {
	position: fixed;
	top: 87%;
	left: 64%;
	width: 8%;
	height: 13%;
}

#levelWin {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#back {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 5%;
	height: 11%;
}

#workingSDFirm {
	position: fixed;
  display: none;
	top: 3%;
	left: 80%;
	width: 8%;
	height: 13%;
}
